.vertical-bar-chart {
    .label {
        font-family: "Lucida Grande","Open Sans",sans-serif; font-size: 12px; fill: #4a4a4a;
    }
    .sub-label {
        font-family: "Lucida Grande","Open Sans",sans-serif; font-size: 11px; fill: #9a9a9a;
    }

}