@import '_variables';
@import 'shared/tooltip/_tooltip';

.zippy-chart {
  position: relative;
  box-sizing: border-box;
  color: $color-white;
  user-select: none;


  @import 'charts/vertical-bar-chart/_vetical-bar-chart';
  @import 'charts/multi-line-chart/_multi-line-chart';
}