//@import "tooltip";
$color-white: #fff;
$color-light-grey: #dbdbdb;
$color-grey-basic: #4a4a4a;
$box-shadow-2: 0 2px 4px 0 rgba(0, 0, 0, .2);

@import 'shared/tooltip/_tooltip';


.zippy-chart {
  position: relative;
  box-sizing: border-box;
  color: $color-white;
  user-select: none;


  @import 'charts/vertical-bar-chart/_vetical-bar-chart';
}